<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kunyuan.mapper.BaojiaBannerMapper">
    
    <resultMap type="BaojiaBanner" id="BaojiaBannerResult">
        <result property="bannerId"    column="banner_id"    />
        <result property="bannerName"    column="banner_name"    />
        <result property="bannerImg"    column="banner_img"    />
        <result property="linkUrl"    column="link_url"    />
        <result property="bannerType"    column="banner_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBaojiaBannerVo">
        select banner_id, banner_name, banner_img, link_url, banner_type, status, create_by, create_time, update_by, update_time, remark from baojia_banner
    </sql>

    <select id="selectBaojiaBannerList" parameterType="BaojiaBanner" resultMap="BaojiaBannerResult">
        <include refid="selectBaojiaBannerVo"/>
        <where>  
            <if test="bannerName != null  and bannerName != ''"> and banner_name like concat('%', #{bannerName}, '%')</if>
            <if test="bannerType != null  and bannerType != ''"> and banner_type = #{bannerType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBaojiaBannerByBannerId" parameterType="Long" resultMap="BaojiaBannerResult">
        <include refid="selectBaojiaBannerVo"/>
        where banner_id = #{bannerId}
    </select>

    <insert id="insertBaojiaBanner" parameterType="BaojiaBanner" useGeneratedKeys="true" keyProperty="bannerId">
        insert into baojia_banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bannerName != null">banner_name,</if>
            <if test="bannerImg != null and bannerImg != ''">banner_img,</if>
            <if test="linkUrl != null">link_url,</if>
            <if test="bannerType != null">banner_type,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bannerName != null">#{bannerName},</if>
            <if test="bannerImg != null and bannerImg != ''">#{bannerImg},</if>
            <if test="linkUrl != null">#{linkUrl},</if>
            <if test="bannerType != null">#{bannerType},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBaojiaBanner" parameterType="BaojiaBanner">
        update baojia_banner
        <trim prefix="SET" suffixOverrides=",">
            <if test="bannerName != null">banner_name = #{bannerName},</if>
            <if test="bannerImg != null and bannerImg != ''">banner_img = #{bannerImg},</if>
            <if test="linkUrl != null">link_url = #{linkUrl},</if>
            <if test="bannerType != null">banner_type = #{bannerType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where banner_id = #{bannerId}
    </update>

    <delete id="deleteBaojiaBannerByBannerId" parameterType="Long">
        delete from baojia_banner where banner_id = #{bannerId}
    </delete>

    <delete id="deleteBaojiaBannerByBannerIds" parameterType="String">
        delete from baojia_banner where banner_id in 
        <foreach item="bannerId" collection="array" open="(" separator="," close=")">
            #{bannerId}
        </foreach>
    </delete>
</mapper>